@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import '_normalize';
@import 'fonts';
@import '_vars';
@import '_global';

body {
    background-image: url(../img/bg_body.png);
    // background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

//start header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 24px 40px;
    margin-top: 52px;
    border-radius: 16px;
    border: 1px solid var(--Gradient-2, #0D0A2C);
    box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;


    &__logo a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        .header__logo-text {
            font-family: Jost;
            font-size: 24px;
            font-weight: 800;
            background: var(--Gradient-3, linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            span {
                margin-left: -3px;
                -webkit-text-fill-color: $neuture;
                font-weight: 300;
            }
        }
    }

    &__menu {
        position: relative;

        .header__list {
            max-width: 471px;
            max-height: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #FFF;
            font-family: Jost;
            font-size: 16px;
            font-weight: 800;

            li {
                a {
                    padding: 10px 24px;
                }
            }

            li:hover {
                border-radius: 15px;
                border: 1px solid var(--Gradient-2, #0D0A2C);
                box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;
                transition: all 0.3s;
            }
        }

        .header__list::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/Cards.png);
            left: -24px;
        }

        .list-drop-down>a::before {
            content: '';
            color: #fff;
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/ar_down.svg);
            right: 0;
            cursor: pointer;
        }
    }

    &__user {
        max-width: 183px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 1S;
        &-sig {
            margin-right: 16px;
            padding: 8px 16px;
            border-radius: 16px;
            border: 1px solid var(--Gradient-2, #0D0A2C);
            background: linear-gradient(94deg, rgba(47, 124, 252, 0.01) 0.26%, rgba(162, 65, 254, 0.01) 22.22%, rgba(255, 22, 245, 0.01) 53.19%, rgba(255, 72, 135, 0.01) 80.22%, rgba(255, 110, 53, 0.01) 105.55%);
            box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;

        }

        &-sig:focus {
            background: var(--Gradient-3, linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%));
            // transition: all 1s;

        }

        &-log {
            padding: 8px 16px;
            border-radius: 16px;
            border: 1px solid var(--Gradient-2, #0D0A2C);
            background: linear-gradient(94deg, rgba(47, 124, 252, 0.01) 0.26%, rgba(162, 65, 254, 0.01) 22.22%, rgba(255, 22, 245, 0.01) 53.19%, rgba(255, 72, 135, 0.01) 80.22%, rgba(255, 110, 53, 0.01) 105.55%);
            box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;

        }

        &-log:focus {
            background: var(--Gradient-3, linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%));
            // transition: all 0.5s;
        }
    }
}

.drop-dowm-company {
    z-index: 100;
    width: 165px;
    display: none;
    position: absolute;

}

.list-drop-down:hover .drop-dowm-company {
    display: block;
}

//end header

// start buycr
.buycr__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $neuture;
    margin-top: 50px;

    .buycalc {
        width: 385px;
        height: 410px;
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #0D0A2C;
        background: $neotural;
        box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;

        &-title {
            margin-bottom: 8px;
            color: $neuture;
            font-family: Jost;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &-text {
            padding-left: 5px;
            align-self: flex-start;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
        }
    }

}

.you-get {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;

    p {
        min-width: 52px;
    }

    img {
        margin-left: 280px;
        cursor: pointer;
    }
}

.byucalc-input-inner {
    width: 100%;
    padding: 8px 0;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 16px;
    background: #000814;

    .input-inner-icon {
        margin-left: 16px;
        max-width: 30px;
        max-height: 34px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: $neuture;
        border-radius: 8px;
    }

    .input-inner-currency {
        margin-left: 16px;
    }

    select {
        padding-left: 16px;
        width: 100%;
        height: 34px;
        background: none;
        border: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
    }

    .currency__name {
        width: 50%;
        margin-right: 16px;
    }

    .currency__name:focus {
        border: none;
        background: none;
    }

    input {
        margin-right: 20px;
        padding-left: 16px;
        color: #fff;
        width: 100%;
        background: none;
        border: none;
        border-left: 2px solid rgba(44, 128, 255, 0.19);
        outline: none;
    }

}

.you-get-input {
    margin: 0;
}

.buycalc-confirmation {
    margin-top: 24px;
    border-bottom: 1px solid $neuture;
    color: $neuture;
    font-size: 12px;
    font-weight: 400;
}

.buycolc-btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%);
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    margin-top: 24px;
}

.buyinfo {
    position: relative;
    padding-bottom: 112px;

    &__inner {
        .buyinfo__info-img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 63px;
            padding-bottom: 17px;
        }

        .buy__info-content {
            padding-left: 115px;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            .info-content-up {
                display: flex;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 16px;
                border: 1px solid #0D0A2C;
                background: #000814;
                box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;

                p {
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 800;
                }
            }

            .info-content-title {
                max-width: 680px;
                color: $neuture;
                font-size: 48px;
                font-weight: 900;
                line-height: 59.5px;

                span {
                    background: linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 48px;
                    font-weight: 900;
                    line-height: 59.5px;
                }
            }

            .info-content-text__img {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;

                .info-content-text {
                    max-width: 541px;
                    color: #FFF;
                    font-size: 36px;
                    font-weight: 400;
                    line-height: 43.5px;
                }

                .info-content-img {
                    position: absolute;
                    right: -205px;
                }
            }

        }
    }
}

.buycr__img {
    padding-left: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// end buycr

// start markets
.markets__inner {
    background: linear-gradient(180deg, rgba(1, 8, 21, 0.65) 0%, #010815 100%);
    max-width: 992px;

    &-title {
        max-height: 60px;
        margin-top: 86px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        color: #FFF;
        font-size: 48px;
        font-weight: 900;
        line-height: 59.5px;

        .inner-title-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            color: #48CAE4;
            font-size: 16px;
            font-weight: 400;

            img {
                cursor: pointer;
            }

            a {
                color: #48CAE4;
            }
        }
    }

    &-filter {
        max-width: 560px;
        max-height: 45px;
        margin-top: 16px;

        .inner-filter-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            color: #FFF;
            font-size: 16px;
            font-weight: 800;

            button {
                padding: 8px 16px;
                border-radius: 16px;
                border-radius: 16px;
                border: 1px solid var(--Gradient-2, #0D0A2C);
                background: var(--Neutural-90, #000814);
                box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;
                transition: background 1s;
            }

            button:focus {
                background: var(--Gradient-3, linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%));

            }
        }

    }

    .markets-cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    &-cards {
        margin-top: 36px;
        width: 130px;
        height: 166px;
        display: flex;
        padding: 24px 36px;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #0D0A2C;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;

        .cards-text {
            color: #FFF;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .cards-prices {
            margin-top: 24px;
            color: var(--Accent-20, #FFD60A);
            font-size: 16px;
            font-weight: 800;
        }

        .cards-price-increase {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--Accent-80, #48CAE4);
            font-size: 12px;
            font-weight: 400;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            margin: 0;
        }
    }
}

// end markets

// star safebuy
.safebuy__wrapper {
    margin-top: 142px;
}

.safebuy__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;

    .safebuy__content-text {
        // margin-top: -150px;
        max-width: 645px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .content__text-title {
            text-align: justify;
            font-size: 48px;
            font-weight: 900;
            line-height: 59.5px;

            span {
                background: var(--Gradient-3, linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%));
                background-clip: text;
                color: transparent;
            }
        }

        .content__text-text {
            // margin-top: 24px;
            font-size: 24px;
            font-weight: 400;
        }

        .content__text-table {
            margin-top: 48px;
            font-size: 20px;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .text-table-item {
                width: 566px;
                display: flex;
                padding: 24px 0;
                justify-content: flex-start;
                align-items: center;
                gap: 24px;
                border-bottom: 1px solid #2F7CFC;

                .table-item-img {
                    display: flex;
                    padding: 10px;
                    align-items: flex-start;
                    border-radius: 38px;
                    border: 1px solid $gradient2, #0D0A2C;
                    background: rgba(255, 255, 255, 0.01);

                    box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;
                    cursor: pointer;
                }

                .table-item-text {

                    // margin-bottom: 24px;
                    p {
                        display: none;
                    }
                }
            }
        }
    }

    .safebuy__content-image {
        margin-right: 29px;
        background-image: url('../img/safebuy_img_bg.png');
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-position-y: bottom;

        .content-image-inner {
            height: 281px;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .content-image-block-2 {
                margin-top: 100px;
                align-self: center;
                width: 273px;
                height: 71px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 16px;
                border: 1px solid var(--Gradient-2, #0D0A2C);
                background: linear-gradient(94deg, rgba(47, 124, 252, 0.01) 0.26%, rgba(162, 65, 254, 0.01) 22.22%, rgba(255, 22, 245, 0.01) 53.19%, rgba(255, 72, 135, 0.01) 80.22%, rgba(255, 110, 53, 0.01) 105.55%);
                box-shadow: 0px 0px 10.5px 0px rgba(44, 128, 255, 0.19) inset;

                .block-2-img {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;

                    img:nth-child(1) {
                        padding-right: 13px;
                        padding-bottom: 17px;
                    }

                    img:last-child {
                        padding-right: 25px;
                    }
                }

                .block-2-text {
                    width: 273px;
                    height: 71px;
                    padding: 10px 0 4px 18px;

                    p {
                        margin: 0;
                    }

                    p:nth-child(1) {
                        font-size: 12px;
                        font-weight: 400;
                    }

                    p:last-child {
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 43.5px;
                    }
                }
            }

            .content-image-block-1 {
                align-self: flex-start;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 17px;
                flex-direction: column;
                min-width: 273px;
                min-height: 141px;
                flex-shrink: 0;
                border-radius: 12px;
                border: 1px solid var(--Gradient-2, #0D0A2C);
                background: linear-gradient(94deg, rgba(47, 124, 252, 0.01) 0.26%, rgba(162, 65, 254, 0.01) 22.22%, rgba(255, 22, 245, 0.01) 53.19%, rgba(255, 72, 135, 0.01) 80.22%, rgba(255, 110, 53, 0.01) 105.55%);
                box-shadow: 0px 0px 10.5px 0px rgba(44, 128, 255, 0.19) inset;
                padding: 10px 42px 18px 42px;

                .block-1-currency {
                    font-size: 32px;
                    font-weight: 900;
                    line-height: 44.625px;
                }

                .block-1-cource {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 12px;

                    .cource-number .cource-cripto {
                        font-weight: 400;
                    }

                    .cource-number {
                        padding-right: 2px;
                    }

                    .cource-interest {
                        color: #FFD60A;
                        font-weight: 800;
                    }
                }

                .block-1-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 8px;

                    button {
                        display: flex;
                        padding: 6px 12px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;
                        border: 0.75px solid #0D0A2C;
                        background: linear-gradient(94deg, rgba(47, 124, 252, 0.01) 0.26%, rgba(162, 65, 254, 0.01) 22.22%, rgba(255, 22, 245, 0.01) 53.19%, rgba(255, 72, 135, 0.01) 80.22%, rgba(255, 110, 53, 0.01) 105.55%);
                        box-shadow: 0px 0px 10.5px 0px rgba(44, 128, 255, 0.19) inset;
                    }

                    button:focus {
                        background: linear-gradient(94deg, #2F7CFC 0.26%, #A241FE 22.22%, #FF16F5 53.19%, #FF4887 80.22%, #FF6E35 105.55%);
                    }
                }
            }
        }
    }

    .content-image-block-3 {
        display: flex;
        justify-content: center;

        img {
            max-width: 430px;
        }
    }
}

// end safebuy
// start discover
.discover {
    margin-top: 120px;
}

.discover__content {
    margin: 0 auto;
    text-align: center;
    max-width: 650px;
    background-image: url(../img/Group_discover_bg.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 80%;
    background-size: 90%;

    &-title {
        color: #2C80FF;
        font-size: 64px;
        font-weight: 900;
    }

    &-subtitle {
        font-family: Jost;
        font-size: 48px;
        font-weight: 900;
        line-height: 59.5px;

        span {
            text-transform: uppercase;
            margin-right: 18px;
        }

        &-text {
            text-align: justify;
            margin-top: 15px;
            font-size: 28px;
            font-weight: 400;
        }
    }

    .discover__content-inner {
        position: relative;
        padding-top: 30px;
        z-index: 80;
        background-image: url(../img/discover_bg.png);
        background-repeat: no-repeat;
        background-position-x: center;
    }
}

.discover__section {
    margin-top: 80px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 384px 384px 384px;
    grid-template-rows: 215px 215px;
    gap: 16px;

    &-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 8px;
        border: 1px solid var(--Gradient-2, #0D0A2C);
        background: rgba(11, 17, 21, 0.01);
        box-shadow: 0px 0px 14px 0px rgba(44, 128, 255, 0.19) inset;

        .section-card-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 400;

            .card-text-title {
                font-size: 36px;
            }

            .card-text-content {
                margin-top: 6px;
                font-size: 16px;
            }

            .card-text-btn {
                margin-top: 32px;
                display: flex;
                align-items: center;
                gap: 16px;
                color: #2C80FF;
                font-size: 16px;

            }

        }
    }
}

.discover__section-card:hover {
    background-image: url('../img/content/bg_cards.png');
    background-size: cover;
    background-repeat: no-repeat;
}

// end discover
// start footer
.footer {
    background: var(--Neutural-80, #020E21);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 172px;
    padding: 29px auto 35px auto;


    a {
        font-size: 24px;
        font-weight: 400;
    }
}

//  end footer